body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Muli, Roboto, sans-serif;
  position: relative;
  height: calc(100% - 5rem);
  width: 100%;
  top: 5rem;
}

*, * *, * > * { box-sizing: border-box; }